{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{% set backgroundimageUrl = file_url(paragraph.field_upload_image.entity.fileuri) %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
		{% if (paragraph.field_upload_image.value == true)  or (paragraph.field_description.value == true) or (paragraph.field_cta_button.value == true) %}
			<div id="whole-image-title-cta-section" class="container-fluid">
				<section class="section section--image--only"  style="background: url({{ backgroundimageUrl }}) no-repeat 0% 50%;background-size: cover;min-height: 480px;">
					<div class="content-section container">
						{% if paragraph.field_description.value == true %}
							<div class="heading">{{ content.field_description }}</div>
						{% endif %}
						{% if paragraph.field_cta_button.value == true %}
							<div class="cta-button">{{ content.field_cta_button }}</div>
						{% endif %}
					</div>
				</section>
			</div>
		{% endif %}
	</div>
{% endblock paragraph %}